html,
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

nav {
    height: 69px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid seashell;
    position: absolute;
    position: fixed;
    display: block;
    top: 0px;
    
}

nav .logo{
    align-items: left;
    height: 50px;
    margin:10px;
    float: left;
}

nav ul{
    float: right;
}

nav li {
    display: inline-block;
    color: seashell;
    text-decoration: underline;
    padding: 0px 20px;
}

#mission {
    display: flex;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    background-image: url('./Images/img-mission-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    
}

.text-over {
    margin: auto;
    background-color: black;
    width: 100%;
    opacity: 0.9;
}

.specials {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.menu-option img{
   height: 200px;
   width: 300px;
   padding: 10px 10px;
}

#location {
    height: 500px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url('./Images/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.location-container {
    max-width: 1050px;
    margin: 15px auto auto auto;
    display: flex;
    justify-content: space-between;
}

.location-option {
    background-color: black;
    padding: 20px;
    width: 300px;
    flex-basis: 30%;
    box-sizing: border-box;
    opacity: 0.8;
    margin-bottom: auto;
}

.closing {
    height: 200px;
}

footer {
    display: block;
    float: left;
    margin: 20px;
}